# Invisible file on macOS that is automatically created any time the surrounding folder is viewed with the 'Finder' app
docs-images/.DS_Store

# Lock file created by Homebrew's "brew bundle" after all packages are installed successfully.
./Brewfile.lock.json
